{# {% extends 'base.html.twig' %} #}

{% block title %}Category{% endblock %}

{% block catShow %}
    <h1>{{ category.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                {# <th>Id</th> #}
                {# <td>{{ category.id }}</td> #}
            </tr>
            <tr>
                {# <th>Name</th> #}
                {# <td>{{ category.name }}</td> #}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_category_blog_index') }}">Retour à la liste</a>

    <div>
         
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Content</th>
                <th>Image</th>
                <th>IsPublished</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.image }}</td>
                <td>{{ post.isPublished ? 'Yes' : 'No' }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_post_blog_show', {'post': post.id}) }}">Voir</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
