{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

	<div class="site-section bg-image overlay counter" id="discover-section">
        <div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-md-7 text-center">
					<div class="block-heading-1">
						<h2 class="text-black text-uppercase section-title">{{ category.name }}</h2>
						<p class="text-black">Par nos thèmes nous arrivons à preter oreille à ce que les membres de notre association attendent de nous.</p>
					</div>
				</div>
			</div>

		<a href="{{ path('app_category_blog_index') }}">Retour à la liste des catégories</a>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Articles</th>
						<th>Crée le :</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for post in posts %}
						<tr>
							<td>{{ post.title }}</td>
							<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<a href="{{ path('app_post_blog_show', {'id': post.id}) }}">Consulter</a>
							</td>
						</tr>
					{% else %}
						<div class="text-danger">
							Aucune par encore d'article disponible
						</div>
					{% endfor %}
				</tbody>
			</table>
		</div>
       </div>
   </div>

{% endblock %}
