{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}

	<div class="site-section bg-image overlay counter mt-5 text-black">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-md-7 text-center">
					<div class="block-heading-1">
						<h3>{{ post.title }}</h3>
                        <div class="text-secondary">{{ post.image }}</div>
						<p>{{ post.content }}</p>
                        <p>Creé le : {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                        
					</div>
				</div>
			</div>

			<table class="table">
				<tbody>
					
				</tbody>
			</table>

			<div>
				<a href="{{ path('app_comment_blog_new', {'id': post.id}) }}">Ajouter un commentaire</a>
			</div>

			<div class="text-black">
				{% for comment in comments %}
					{# <div>{{ comment.user.nickname }} a dit : </div> #}
					<div>{{ comment.content }}</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
